<%= render "/features/social_headline"%>
<div class="large-12 columns" >
  <p></p>
  <div class="row">
    <div class="large-12 columns" style="padding-top:1rem;">
      <h6 style="font-weight:bold;">THANK YOU FOR SIGNING!<br /><br /></h6>
      <h7>
        We appreciate your support for bringing Art to the App Store, <%=@signer.first_name%>.
        <br /><br />
        You should see a note from us in your email box, and we’ll occasionally get in touch with an update. 
        <br /><br />
        For keeping abreast of the latest news, you can find us on <u><a href="https://twitter.com/addingart" target="_blank">Twitter</a></u> or join the <u><a href="https://www.facebook.com/addingart" target="_blank">Facebook</a></u> group.
        <br /><br />
        And please consider spreading the word meanwhile to friends and family.  To help with this, here are a few social media links below.
        <br /><br />
        Thanks again!
        <br /><br />
        <span style="font-weight:bold;">Share the Petition:</span>
        <br /><br />
      </h7>
      <div id="shareTools" style="width:100%">
        <ul class="soc">
          <li><a class="soc-override soc-twitter" href="https://twitter.com/home?status=Dear%20Apple,%20bring%20art%20to%20the%20world%20and%20the%20world%20to%20art!%20Add%20an%20'Art'%20category%20to%20the%20App%20Store.%20http%3A//www.artapp.org%20%40AppStore%20%23artapp" data-applink="twitter://post?message=Dear%20Apple,%20bring%20art%20to%20the%20world%20and%20the%20world%20to%20art!%20Add%20an%20'Art'%20category%20to%20the%20App%20Store.%20http%3A//www.artapp.org%20%40AppStore%20%23artapp" target="_blank"></a></li>
          <li><a class="soc-override soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.artapp.org" target="_blank"></a></li>
          <li><a class="soc-override soc-tumblr" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A//www.artapp.org&title=Petition%20Apple%20to%20Add%20Art%20Category%20to%20the%20App%20Store" target="_blank"></a></li>
          <li><a class="soc-override soc-linkedin soc-icon-last" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.artapp.org&title=Petition%20Apple%20to%20add%20Art%20to%20the%20App%20Store&summary=&source="></a></li>
        </ul>
        <br /><br />
      </div>
    </div>
  </div>
</div>
