
<%= render "/features/social_headline" %>
<div class="large-7 columns">
  
  <h7 style="font-weight:bold;">THANK YOU FOR SIGNING!</h7>

  <h7>We  appreciate your support for bringing Art to the App Store.</h7><br /><br />

  <h7>You should see a note from us in your email box, and we’ll occasionally get in touch with an update.</h7><br /><br />

  <h7>For keeping abreast of the latest news, you can find us on Twitter or join the Facebook group.</h7><br /><br />

  <h7>And please consider spreading the word meanwhile to friends and family.  To help with this, here are a few social media links below.</h7><br /><br />

  <h7>Thanks again!<h7><br /><br />

  <h7>Share the Petition:</h7>

</div>