/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require slideout
 *= require slick
 *= require slick-theme
 *= require_self
 */

.action-container {
  background-color: #000;
  background-image: image-url('main_header_graphic_2X.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.active-header {
  color: #bbb !important;
}

.soc-override {
  font-size: 25px !important;
  width: 50px !important;
  height: 50px !important;
  margin-right: 20px !important;
  padding-top: 9px !important;
}

.slick-slide p {margin-top: 10px;
}


.alternate-colors {
  background: #eee;
}

.alternate-colors:nth-of-type(2n) {
  background: #fff;
}

/*FOUNDATION OVERRIDE*/
body {
  background: none;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.4rem;
  text-align:center;
  padding: 2rem;
}

h6 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 40.0625em) {

  h4 {
    font-size: 1.1rem; }

  h5 {
    font-size: 1.4rem; }

  h6 {
    font-size: 1.2rem;
    font-weight: 400; }
}


/*SLIDEOUT CUSTOM*/
.slideout-menu { 
  left: auto;
  width: 180px;
   }

.btn-hamburger { left: auto; right: 12px;}

.box { height: 1500px; }

@media only screen and (max-width: 840px) {
  #bignav {
    display: none;
  }

  #smallnav {
    display: block;
  }

  #menu {
    display: hidden;
  }
}

@media only screen and (min-width: 840px) {
  
  #menu {
    display: none;
  }
  
  #smallnav {
    display: none;
  }
}
/* */
@media only screen and (max-width: 880px) {
  .action-container {
    background-position: center-right;
    background-size: cover;
  }
}

/*<div style="background: #000 url('<%=asset_path('main_header_graphic_2X.jpg')%>') no-repeat; background-size:100% auto;">*/
