<div style="background: #000 url('<%=asset_path('main_header_graphic_2X.jpg')%>') no-repeat; background-size:100% auto;">
    <div class="row">
      <div class="large-12 columns">
        <div>
          <h3 style="padding-top:3em; padding-bottom:23m; text-align:center; color:#fff;">
            <% current_page = SiteViewObject.new(params)%>
            <%= current_page.headline_text %>
            <% if params[:controller] == "features" %>
              <%= link_to "ENDORSE", new_signer_path(anchor: "form"), class: "small radius button" %>
            <%end%>
            <br />
          </h3>
           <div id="share" style="position: relative; padding-bottom:10px; text-align: center;">    
              <div id="shareMenu" style="width:100%; padding: 10px; position: absolute; z-index:10;">
                <%= link_to (image_tag("share_button_2X.png", style: "text-align:right; width:2rem; height:2rem;")), "#" %>
              </div>

              <div id="shareTools" style="width:100%; padding: 10px; position: absolute; z-index:11; display: none;">
                <ul class="soc">
                  <li><a class="soc-twitter" href="https://twitter.com/home?status=Dear%20Apple,%20bring%20art%20to%20the%20world%20and%20the%20world%20to%20art!%20Please%20add%20an%20'Art'%20category%20to%20the%20App%20Store.%20http%3A//www.artapp.org%20%40AppStore" target="_blank"></a></li>
                  <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.artapp.org" target="_blank"></a></li>
                  <li><a class="soc-google" href="https://plus.google.com/share?url=http%3A//www.artapp.org"></a></li>
                  <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.artapp.org&title=Petition%20Apple%20to%20add%20Art%20to%20the%20App%20Store&summary=&source="></a></li>
                </ul>
              </div>
            </div>
            <% if params[:controller] == "signers" %>
              <br /><br /><br />
            <% end %>
          <p><br /><br /></p>
        </div>
      </div>
    </div>
</div>