<%= render "social_headline" %>

  <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <p></p>
          <h6>ABOUT</h6>
          <h7>

+ArtApp was created by Seth Indigo Carnes, Serkan Ozkaya and Paulina Bebecka, New York City artists and a gallerist, to gather support urging Apple to create an Art category for all arts-centered apps on the App Store.  
<br /><br />
There has been no Art category since the App Store’s launch in 2008.  Currently, some of the world’s largest museums, such as the Louvre and MoMA, are stuck in categories like Lifestyle or Education.  Artists are creating app artworks in this new medium, with no appropriate category.
<br /><br />
Art is Art.
<br /><br />
We feel there is no category that better captures the vast creative spark within human culture.  And we request that Apple recognize and remedy the situation, celebrating creativity worldwide with the addition of an Art category.
<br /><br />
Please help us spread the word by sharing this petition with friends and family.  With your voice and support, we move one step closer. 

<br /><br /><br />
          </h7>
        </div>
        
    </div>