<%= render "social_headline" %>

<div class="large-12 columns" >
  <p></p>
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <h4>ART APPS<br /><br /></h4>
          Like the world of art, the realm of arts-centered apps is vast, encompassing artworks, museums, guides, and apps exploring the core creative impulse central to art-making.  Other apps help audiences discover, purchase or learn about art.  Here are some examples:
        <p><br /></p>
    
        
                <h4>Artworks</h4>
                
                <div class="apps">
               

                  <div>
                            <a href="https://itunes.apple.com/us/app/poetics-create-write-share/id543995959?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple3/v4/5c/a8/59/5ca85920-39b8-3f20-11d5-2d9b40ef542d/icon175x175.png" class="appicon" /></a>
                           
                    <p style="text-align:center;">Poetics</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/mymoon/id968145361?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple5/v4/3a/9f/f6/3a9ff640-ff43-ba2c-81fb-58ac0a139295/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">MyMoon</p>
                  </div>

                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/bubble-harp/id372531368?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple/v4/79/2d/3f/792d3fe3-1e58-35ff-a2d9-4fd7acbf09ac/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Bubble Harp</p>
                  </div>

                 <div>
                            <a href="https://itunes.apple.com/us/app/bloom/id292792586?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple3/v4/56/28/f5/5628f55b-d1d7-db63-6a43-8a99e30e5856/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Bloom</p>
                  </div>

                  <div>
                    
                            <a href="https://itunes.apple.com/us/app/thicket/id461778014?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/86/95/51/86955167-20c8-7774-d20b-d3b8cff76140/icon175x175.jpeg" class="appicon" /></a>
                          
                    <p style="text-align:center;">Thicket</p>
                  </div>

          <div>
                            <a href="https://itunes.apple.com/us/app/mtn/id891528055?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple4/v4/ff/83/16/ff8316ff-f743-d64d-1077-5d71a1b54abf/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">MTN</p>
                  </div>

           <div>
                            <a href="https://itunes.apple.com/us/app/john-baldessari-in-still-life/id376644996?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple/v4/32/31/fa/3231fa43-661b-1df7-cdd3-87a818f0747f/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Baldessari</p>
                  </div>
                  
           <div>
                            <a href="https://itunes.apple.com/us/app/he-liked-thick-word-soup/id879914740?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/c9/71/a6/c971a627-07ea-edef-3b8e-ef534b70f170/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">He liked thick word soup</p>
                  </div>

         <div>
                            <a href="https://itunes.apple.com/us/app/contrast-playground-for-sound/id1019176648?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple1/v4/56/16/36/5616361e-b6d2-bd62-ebf3-d5b9afa86c99/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Contrast</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/frickbits-data-art/id926472692?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/88/bc/83/88bc8386-a593-c8e0-aead-db26987d25fa/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">FRICKbits</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/clouds/id328018464?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple/v4/46/c5/8b/46c58bfe-4212-338d-1829-ed189c0ebb79/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Clouds</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/electric-sheep-infinite-evolving/id444604503?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple/v4/47/dd/71/47dd71e0-27dc-0981-d184-1f3514dd6e24/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Electric Sheep</p>
                  </div>
            
                   <div>
                            <a href="https://itunes.apple.com/us/app/the-space-between-us/id1054845321?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple69/v4/f9/d8/a5/f9d8a545-f3ad-63bc-3776-9bd87f13010c/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">--></p>
                  </div>
                  
                     <div>
                            <a href="https://itunes.apple.com/us/app/pplkpr/id944986921?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/73/24/ab/7324ab73-9a2c-c68e-2ebc-85d0618129a3/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">pplkpr</p>
                  </div>
                  
                     <div>
                            <a href="https://itunes.apple.com/us/app/trope/id312164495?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple7/v4/d1/75/43/d175431d-1724-1174-145b-20f6dbd82b1e/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Trope</p>
                  </div>
                  
                      <div>
                            <a href="https://itunes.apple.com/us/app/carsten-nicolai-rota/id334488267?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple/v4/5a/b4/28/5ab4282b-13ef-ba60-a9aa-5d0ca8ee76aa/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">rota</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/variant-flare/id996685061?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple69/v4/6b/6b/d4/6b6bd48e-2391-c1b9-18b2-e64e7fae19b7/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">variant:flare</p>
                  </div>
                  
                </div>


                <br />


                <h6>Museums &amp; Galleries</h6>
                
                <div class="apps">
                 
                  <div>
                            <a href="https://itunes.apple.com/us/app/moma/id383990455?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/f4/1f/95/f41f9565-e57a-a374-ef5b-27dde7738aa9/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">MoMA</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/musee-du-louvre/id337339103?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple4/v4/d2/8a/d4/d28ad449-b606-0bdb-4f7e-4c3f5b8ee990/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">The Louvre</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/guggenheim/id600046331?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple1/v4/b3/7c/0a/b37c0a29-b63e-b921-ab05-397f5d65a98e/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Guggenheim</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/met-official-app-metropolitan/id910622872?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple3/v4/ee/6b/99/ee6b999e-f984-ad43-1a95-10180053a581/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">The Met</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/centre-pompidou/id389191295?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple69/v4/ea/ee/10/eaee101d-8d80-a0a6-8d11-de8e98d94247/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Centre Pompidou</p>
                  </div>
                 
                  
                  <div>
                            <a href="https://itunes.apple.com/nl/app/rijksmuseum/id621307961?l=en&mt=8">
                            <img src="http://a2.mzstatic.com/eu/r30/Purple5/v4/ef/b8/d0/efb8d0d8-f3bb-1e66-6c0b-9453ec049d34/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Rijksmuseum</p>
                  </div>
                 

                  <div>
                            <a href="https://itunes.apple.com/us/app/gagosian/id440747671?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/e4/5c/19/e45c19a5-582b-5de1-5ed5-ce35478a93ab/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Gagosian</p>
                  </div>

        <div>
                            <a href="https://itunes.apple.com/us/app/lacma/id409488167?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple69/v4/e5/28/b7/e528b789-552f-ffc9-17da-0c4efd373aeb/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">LACMA</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/hermitage-museum/id498954947?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple3/v4/a6/52/01/a65201aa-8998-41ce-a6fd-2d70f9cd48e3/icon350x350.png" class="appicon" /></a>
                    <p style="text-align:center;">Hermitage Museum</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/second-canvas-museo-del-prado/id830254495?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple7/v4/87/27/ef/8727ef1c-76cd-1b86-619e-9f301665b928/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Second Canvas</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/state-of-the-art/id909882183?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/41/9d/76/419d7627-a3db-beff-e467-8fc6b7099014/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">State of the Art</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/app/mca-australia/id1062476640?ls=1&mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple7/v4/ea/bd/06/eabd061c-ed5f-dca4-5e74-7486407cb192/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">MCA Australia</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/young-fine-arts-museums-san/id1022207660?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple69/v4/ac/47/7e/ac477e52-7338-446b-9648-6ea564fbcfea/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">de Young</p>
                  </div>

          <div>
                            <a href="https://itunes.apple.com/us/app/moma-ab-ex-ny/id398432441?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple/v4/93/4c/d1/934cd119-0af8-5284-752f-b6c57977cff4/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">MoMA AB EX</p>
                  </div>
          
         <div>
                            <a href="https://itunes.apple.com/us/app/the-phillips-collection/id402056956?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple6/v4/59/c8/0d/59c80dd1-3c98-c62d-9715-ad1853407160/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">The Phillips Collection</p>
                  </div>

         <div>
                            <a href="https://itunes.apple.com/us/app/ask-brooklyn-museum/id949540325?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple3/v4/6d/65/bc/6d65bcac-e715-737e-66a4-d9687ea0e81a/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">ASK Brooklyn Museum</p>
                  </div>


                </div>

                <br />
                
                <h6>Guides &amp; Learning</h6>
                
                <div class="apps">
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/artsy-art-world-in-your-pocket/id703796080?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple69/v4/b7/e4/42/b7e44255-8b23-2f90-196f-da71d7deedeb/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Artsy</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/see-saw-gallery-guide/id791643418?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple7/v4/87/8e/13/878e1356-32f4-bf62-7e07-23046bac8c7c/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">See Saw</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/artstack-discover-art/id521105535?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/30/fe/bd/30febd31-5a7e-48c9-e3bc-877f8b4ac2c0/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">ArtStack</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/wikiart-encyclopedia-fine/id532863922?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple1/v4/10/03/0f/10030f92-91f1-becf-02f0-6abd6eaef99a/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">WikiArt</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/artlocal-your-guide-to-discover/id867919911?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple7/v4/0f/49/0d/0f490da6-4349-8409-90fc-dd4cb9d88d9a/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">ArtLocal</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/muse-art/id945150093?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/8e/3e/b9/8e3eb91e-07d3-9c12-4816-28359c6579be/icon350x350.png" class="appicon" /></a>
                    <p style="text-align:center;">Muse Art</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/planet-art-your-source-for/id937737095?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple1/v4/74/8a/71/748a71d2-eabb-e1d6-006d-3205f3a56176/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Planet Art</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/sfa-seek-fine-art/id930034346?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple6/v4/c5/09/c9/c509c995-01b0-d435-a1cb-51e3a59c38f6/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Seek Fine Art</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/artaround/id463678249?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple/v4/60/d3/34/60d334b4-b10c-66a9-0237-f9314df6e61f/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">ArtAround</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/art-guide/id510070037?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple3/v4/33/04/8c/33048c3f-667b-5e88-9cd2-28ac67ac269a/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Art Guide</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/the-warhol-d.i.y.-pop/id442963936?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/45/b2/4a/45b24a64-c352-3425-253a-0c73bb395684/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">The Warhol</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/cindy-sherman-art-intelligence/id876060083?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple3/v4/34/1b/ea/341beaad-5272-ff91-2eb8-0e06f36d3201/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Art Intelligence</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/touch-van-gogh/id673141174?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple69/v4/f9/89/06/f98906b9-b7d5-8e8b-32af-b94afc96b043/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Touch Van Gogh</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/nasa-earth-as-art/id577527077?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple/v4/52/5e/6d/525e6d05-894b-bb71-eb50-85b77da49965/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Earth As Art</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/the-waste-land/id427434046?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/fc/8a/72/fc8a7228-e3ca-63ec-4451-ecee89159a5c/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">The Waste Land</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/public-art-pdx/id416967691?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple1/v4/0d/75/98/0d75987d-311a-8d57-f7d8-9e8b0d03b6a6/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Public Art PDX</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/nyartbeat/id354569809?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple/v4/e1/4b/b4/e14bb43e-0236-8d0e-e4d2-a46ce607b4a7/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">NYArtBeat</p>
                  </div>
                  
               
              
                  </div>
                    

                <br />
                
                <h6>Discovery &amp; Buying</h6>
                
                <div class="apps">
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/phillips/id397496674?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple6/v4/87/6e/12/876e12d4-1633-5d0c-c676-caf6730e243c/icon350x350.png" class="appicon" /></a>
                    <p style="text-align:center;">Phillips</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/christies/id322000464?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple69/v4/e7/ca/97/e7ca9738-2433-01a0-0f03-080b416c7cb1/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Christie's</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/saatchi-art-buy-sell-original/id940252790?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple5/v4/d6/58/3e/d6583e33-d035-8c30-0336-c0acba2ab31b/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Saatchi Art</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/sothebys-catalogue/id471593295?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple5/v4/04/fd/1c/04fd1c98-79c5-35f2-8e38-50a57d8f914a/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Sotheby's</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/vango-art-buy-original-art/id669344577?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple5/v4/ff/78/8a/ff788a6e-6088-7395-7172-15649c7176f5/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Vango Art</p>
                  </div>
                  

                  <div>
                            <a href="https://itunes.apple.com/us/app/sedition-art/id468642152?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple3/v4/63/d1/42/63d14263-da72-943a-3b31-8defd8c77edb/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Sedition Art</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/paddle8/id803125590?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple7/v4/a6/db/50/a6db50dd-8362-6f18-ca16-b786102289d9/icon350x350.png" class="appicon" /></a>
                    <p style="text-align:center;">Paddle8</p>
                  </div>

          <div>
                            <a href="https://itunes.apple.com/us/app/blackdove-motion-art/id943637063?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple6/v4/24/ef/44/24ef4433-c53e-ef38-3aed-89b113e68387/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Blackdove</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/deviantart/id925219396?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple3/v4/80/3f/89/803f89b4-d8ec-7ed8-6da8-84584ef3b82d/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">DeviantArt</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/artcircles/id470042692?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple1/v4/11/a6/ab/11a6aba7-6d9c-58b9-3dfd-9b1d033635c5/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">artCircles</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/lumas-the-liberation-of-art/id923525107?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple7/v4/bc/84/2b/bc842b6c-0dde-8000-b5ce-786167d7e02d/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">LUMAS</p>
                  </div>

                </div>

                <br />
                
                <h6>Creating & Experiencing</h6>
                
                <div class="apps">
                 
                  <div>
                            <a href="https://itunes.apple.com/us/app/id506003812?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple69/v4/e9/ed/5c/e9ed5c68-2e12-2859-fc84-e7e437368cc2/icon350x350.png" class="appicon" /></a>
                    <p style="text-align:center;">Paper</p>
                  </div>
                  
          <div>
                            <a href="https://itunes.apple.com/us/app/glitche/id634467171?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/47/49/16/47491680-17c8-3081-1e1d-1c850e9eaf89/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Glitché</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/app/tayasui-sketches/id641900855?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/22/28/55/22285575-b1a9-6cd0-1e2d-25cb3b3461bd/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Tayasui Sketches</p>
                  </div>

              <div>
                            <a href="https://itunes.apple.com/us/app/strange-rain/id400446789?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple/v4/69/39/b9/6939b98c-0a4f-16b9-1a05-c211980ae385/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Strange Rain</p>
                  </div>

                  <div>
                            <a href="https://itunes.apple.com/us/app/halftone-2-comic-book-creator/id603139024?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/d9/fb/b4/d9fbb480-2c0f-1b57-6bef-6f6751454d0a/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Halftone</p>
                  </div>
                  

                  <div>
                            <a href="https://itunes.apple.com/us/app/procreate-pocket/id916366645?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/73/07/c2/7307c24e-bdfe-8a3f-2c9b-0b3a3770fbde/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Procreate</p>
                  </div>

              <div>
                            <a href="https://itunes.apple.com/us/app/waterlogue/id764925064?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/5e/77/74/5e7774a8-724e-bf68-332a-1683def1baf3/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Waterlogue</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/pxl./id499620829?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple5/v4/79/42/33/794233f3-ca1b-549f-bdb3-a1bf7cc4ccd1/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">pxl.</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/generate-audio-visual-editor/id808563377?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/d9/7d/47/d97d4704-594c-cd64-6c23-2f63494f3407/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Generate</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/uzu-generative-design-playground/id376551723?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple5/v4/81/73/1e/81731e5d-2fc2-69c5-ef03-95eaa0f2b3a5/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Uzu</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/polyfauna/id793263070?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/7c/98/e9/7c98e954-f31e-cfee-d21c-aabb4802fb49/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">PolyFauna</p>
                  </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/silk-interactive-generative/id436590129?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple/v4/e0/fa/7c/e0fa7cd8-4dab-a758-5ee6-f1b96dff9e1f/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Silk</p>
                  </div>
               
                 <div>
                            <a href="https://itunes.apple.com/us/app/d3lta-digital-art-app/id658332334?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple69/v4/b6/9e/88/b69e88bd-0463-2f5d-c73a-24ded4603370/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">D3LTA</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/*-fabrika-*/id408289884?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple6/v4/72/a5/49/72a549c3-c532-00e8-4ab7-037ea6c5b1c0/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">FABRIKA</p>
                  </div>

                </div>

         <br />
                
                <h6>Organizing & Showing</h6>
                
                <div class="apps">
                 
                   <div>
                            <a href="https://itunes.apple.com/us/app/curiator-biggest-collaborative/id849802312?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/89/76/d9/8976d96b-f054-6d01-fe14-97df9ed69a26/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Curiator</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/collectrium/id526741535?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple5/v4/74/be/aa/74beaa83-2d0a-d276-41fe-f24fc869b3a4/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Collectrium</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/aura-remember-art-everywhere/id917419765?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple7/v4/66/99/3a/66993a1d-963a-01de-82a2-536c58e4bb7f/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Aura</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/artbit-the-art-app/id899962148?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple6/v4/1c/a1/3a/1ca13a15-7cd6-37ed-3318-66215ff90ef9/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Artbit</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/curate-app/id873153457?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/e3/92/87/e3928745-27d6-55d6-5e46-b52959591aa1/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Curate</p>
                  </div>
                  
                   <div>
                               <a href="https://itunes.apple.com/us/app/electric-objects/id983757736?mt=8">
                               <img src="http://a1.mzstatic.com/us/r30/Purple69/v4/a4/95/a1/a495a131-fd5b-9726-c398-8897bc4c0aed/icon175x175.png" class="appicon" /></a>
                       <p style="text-align:center;">Electric Objects</p>
                    </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/artbinder/id409433930?mt=8">
                            <img src="http://a3.mzstatic.com/us/r30/Purple69/v4/ad/24/0a/ad240a03-d2f7-75f0-7c68-b493fc6acd45/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">ArtBinder</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/curioos-preview-art-prints/id957933614?mt=8">
                            <img src="http://a4.mzstatic.com/us/r30/Purple3/v4/10/10/da/1010dac9-0236-99a6-cb5e-bbbd4e5fd844/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Curioos</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/depict-bring-art-into-your/id908226911?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple69/v4/ed/5e/97/ed5e9753-adf1-6b70-e2e9-2b37c6f1cbac/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Depict</p>
                  </div>
                  
                    <div>
                            <a href="https://itunes.apple.com/us/app/artkive-save-kids-art/id549980508?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple69/v4/bb/3d/fa/bb3dfa38-ef02-5752-9e23-7e7a11749f4f/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Artkive</p>
                  </div>
                  
                   <div>
                            <a href="https://itunes.apple.com/us/app/tribe/id900413617?mt=8">
                            <img src="http://a5.mzstatic.com/us/r30/Purple3/v4/d7/d5/bb/d7d5bbec-e49a-d339-39e2-b922df38157c/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Tribe</p>
                  </div>
                  
                    
                    <div>
                            <a href="https://itunes.apple.com/us/app/canvsly-organize-print-kids/id661161291?mt=8">
                            <img src="http://a1.mzstatic.com/us/r30/Purple69/v4/2e/bb/cd/2ebbcdd3-3529-6748-4afe-5c901282ba45/icon175x175.jpeg" class="appicon" /></a>
                    <p style="text-align:center;">Canvsly</p>
                  </div>
                  
                  <div>
                          <a href="https://itunes.apple.com/us/app/artsy-folio/id504862164?mt=8">
                          <img src="http://a1.mzstatic.com/us/r30/Purple6/v4/cb/93/c1/cb93c1ba-6810-9bd6-c076-6b8b670e1673/icon175x175.png" class="appicon" /></a>
                  <p style="text-align:center;">Artsy Folio</p>
                </div>
                  
                  <div>
                            <a href="https://itunes.apple.com/us/app/impasto-art/id960686001?mt=8">
                            <img src="http://a2.mzstatic.com/us/r30/Purple1/v4/f5/bb/c5/f5bbc589-fde5-f5f2-8c56-2ae42be8b100/icon175x175.png" class="appicon" /></a>
                    <p style="text-align:center;">Impasto Art</p>
                  </div>
                  
                  
        </div>

      </div>
    </div>
</div>