<%= render "social_headline" %>

<script>
  $('p #1').css('color', '#bbb');
</script>

<div class="large-12 columns" >
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h6>ARTS-CENTERED APPS</h6>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;"><p><strong><a href="apps.html">SEE MORE &gt;</a></strong></p></div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">

        <div class="apps">
          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/john-baldessari-in-still-life/id376644996?mt=8">
                    <img src="http://a4.mzstatic.com/us/r30/Purple/v4/32/31/fa/3231fa43-661b-1df7-cdd3-87a818f0747f/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Baldessari</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/poetics-create-write-share/id543995959?mt=8">
                    <img src="http://a5.mzstatic.com/us/r30/Purple3/v4/5c/a8/59/5ca85920-39b8-3f20-11d5-2d9b40ef542d/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Poetics</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/mymoon/id968145361?mt=8">
                    <img src="http://a4.mzstatic.com/us/r30/Purple5/v4/3a/9f/f6/3a9ff640-ff43-ba2c-81fb-58ac0a139295/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">MyMoon</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/moma/id383990455?mt=8">
                    <img src="http://a3.mzstatic.com/us/r30/Purple3/v4/f4/1f/95/f41f9565-e57a-a374-ef5b-27dde7738aa9/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">MoMA</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/tripolar-by-scott-sona-snibbe/id398305507?mt=8">
                    <img src="http://a3.mzstatic.com/us/r30/Purple/v4/3d/e6/23/3de62302-46f2-e00f-5326-f483ff2da1a3/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Tripolar</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/musee-du-louvre/id337339103?mt=8">
                    <img src="http://a2.mzstatic.com/us/r30/Purple4/v4/d2/8a/d4/d28ad449-b606-0bdb-4f7e-4c3f5b8ee990/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Musée du Louvre</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/artsy-art-world-in-your-pocket/id703796080?mt=8">
                    <img src="http://a5.mzstatic.com/us/r30/Purple69/v4/b7/e4/42/b7e44255-8b23-2f90-196f-da71d7deedeb/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Artsy</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/somebody/id897593878?mt=8">
                    <img src="http://a3.mzstatic.com/us/r30/Purple7/v4/58/6c/10/586c109e-7eb3-85d8-2ee5-b1471cf49d6d/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Somebody</p>
          </div>


          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/glitche/id634467171?mt=8">
                    <img src="http://a1.mzstatic.com/us/r30/Purple3/v4/47/49/16/47491680-17c8-3081-1e1d-1c850e9eaf89/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Glitché</p>
          </div>

          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/strange-rain/id400446789?mt=8">
                    <img src="http://a2.mzstatic.com/us/r30/Purple/v4/69/39/b9/6939b98c-0a4f-16b9-1a05-c211980ae385/icon175x175.png" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Strange Rain</p>
          </div>


          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/vango-art-buy-original-art/id669344577?mt=8">
                    <img src="http://a3.mzstatic.com/us/r30/Purple5/v4/ff/78/8a/ff788a6e-6088-7395-7172-15649c7176f5/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">Vango Art</p>
          </div>


          <div>
            <div id="wrapper">
                <div id="middle">
                  <div id="box">
                    <a href="https://itunes.apple.com/us/app/met-official-app-metropolitan/id910622872?mt=8">
                    <img src="http://a5.mzstatic.com/us/r30/Purple3/v4/ee/6b/99/ee6b999e-f984-ad43-1a95-10180053a581/icon175x175.jpeg" class="appicon" /></a>
                  </div>
                </div>
            </div>
            <p style="width:125px; text-align:center;">The Met</p>
          </div>

        </div>

      </div>
    </div>
</div>

<div class="large-12 columns" style="background-color:#eee;">
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h6>STATEMENTS BY SIGNERS</h6>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;">
          <!--<p><strong><a href="statements.html">READ MORE &gt;</a></strong></p>-->
        </div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="carousel">
          <% SiteViewObject.new.custom_statements.each do |signer| %>
            <div>
                <h5 style="text-align:center; padding:2rem; font-size:1.4rem;"><%= signer[:statement] %>
                  <br /><br />
                  <strong>- <%= signer[:name] %></strong>
                </h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

