<%= render "social_headline" %>
  <div class="large-12 columns alternate-colors">
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
          <h4>STATEMENTS BY SIGNERS<br /><br /></h4>
          <div>
              <h5>Digital art knows no boundaries, and software is more important than ever for expressing all sorts of things we call "art." There should be a category on the App Store to reflect that.</h5>
              <h6><a href="">- Paul Miller aka DJ Spooky</a></h6>
              <br />
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns alternate-colors">
      <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">

          <div>
            <h5>Art and commerce don't have to be at odds - but neither do they have to be the same thing.</h5>
              <h6><a href="">- Douglas Rushkoff, media theorist, writer, columnist</a></h6>
              <br />
          </div>
        </div>
    </div>
  </div>
<div class="large-12 columns alternate-colors">
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
          <div>
              <h5>Digital art knows no boundaries, and software is more important than ever for expressing all sorts of things we call "art." There should be a category on the App Store to reflect that.</h5>
              <h6><a href="">- Paul Miller aka DJ Spooky</a></h6>
              <br />
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns alternate-colors">
      <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">

          <div>
            <h5>Art and commerce don't have to be at odds - but neither do they have to be the same thing.</h5>
              <h6><a href="">- Douglas Rushkoff, media theorist, writer, columnist</a></h6>
              <br />
          </div>
        </div>
    </div>
  </div>
