<%= render "social_headline" %>
<div class="large-12 columns">
  <div class="row">
  <br /><br />
    <h4>STATEMENTS BY SIGNERS<br /></h4>
  </div>
</div>
<% @statements.each do |statement| %>
  <div class="large-12 columns alternate-colors">
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
          <div>
            <h5><%= statement.statement %></h5>
            <h6><a href="<%= statement.hyperlink %>">- <%= statement.name %></a></h6>
            <br />
          </div>
        </div>
      </div>
    </div>
<% end %>
  